In [1]:
import pandas as pd
import random
from num2words import num2words
pd.set_option('display.max_rows', 500)

def generate_age():
    choice = random.choice(['integer', 'word'])
    if choice == 'integer':
        return random.randint(1, 100)  # Generate random integer age
    elif choice == 'word':
        return num2words(random.randint(1, 100))

data = {'age': [generate_age() for _ in range(100)]}
df = pd.DataFrame(data)

df.head(10)

           age
0      seventy
1           37
2  thirty-five
3           83
4        fifty
5           13
6    forty-one
7           55
8           10
9  twenty-five

In [2]:
# df['column_name'] = df['column_name'].replace({'no': 0, 'yes': 1})

In [3]:
from scipy.stats import truncnorm

a = (1.3 - 1.7) / 0.2
b = (2.3 - 1.7) / 0.2 

def generate_height_weight():
    choice = random.choice([';', ',', '-', '_'])
    words = random.choice([True, False])
    height = truncnorm.rvs(a, b, loc=1.7, scale=0.2, size=1)[0]
    weight = random.randrange(40, 150)
    if words:
        weight = num2words(weight)
    return str(height)+choice+str(weight)

data = {'height_weight': [generate_height_weight() for _ in range(100)]}
df['height_weight'] = pd.DataFrame(data)

df.head(10)

           age                                   height_weight
0      seventy                   1.7113774807242084,forty-four
1           37  2.0413220086751016_one hundred and forty-three
2  thirty-five                           1.7115635001684846-51
3           83                           1.6303960896024217;90
4        fifty      1.6828359774992987;one hundred and fifteen
5           13                           1.7889365772941719;52
6    forty-one                          1.8323095413930819_119
7           55                   1.7888698372126295_ninety-two
8           10                           1.5528475431277362_51
9  twenty-five                          1.7671906461054805;116

In [4]:
from sklearn.base import BaseEstimator, TransformerMixin

class FeatureSelector(BaseEstimator, TransformerMixin):
    def __init__(self, feature_names):
        self.feature_names = feature_names
        
    def fit(self, X, y=None):
        return self
        
    def transform(self, X):
        return X[self.feature_names]
    
class AgeExtractor(BaseEstimator, TransformerMixin):
    def __init__(self):
        self.word_to_num = {num2words(i): i for i in range(150)}
        
    def fit(self, X, y=None):
        return self
        
    def transform(self, X):
        def convert_to_int(x):
            try:
                return int(x)
            except ValueError:
                return self.word_to_num[x.lower()]
        return X.apply(lambda x: convert_to_int(x))
    
ages = FeatureSelector('age').fit_transform(df)
ages_extracted = AgeExtractor().fit_transform(ages)

In [5]:
class HeightWeightHandler(BaseEstimator, TransformerMixin):
    def __init__(self, column_name):
        self.possible_splits = [',', '_', '-', ';']
        self.word_to_num = {num2words(i) : i for i in range(300)}
        self.column_name = column_name
        
    def fit(self, X, y=None):
        return self
        
    def transform(self, X):
        def splitter(x):
            for char in x:
                if char in self.possible_splits:
                    height, weight = x.split(char, 1)
                    return height, weight
            return None
        
        def convert_to_int(x): 
            try:
                return int(x)
            except ValueError:
                return self.word_to_num[x.lower()]
        
        def handler(x):
            height, weight = splitter(x)
            weight = convert_to_int(weight)
            height = float(height)
            return pd.Series({'height': height, 'weight': weight})
        
        return X[self.column_name].apply(handler)

heights_weights = HeightWeightHandler('height_weight').fit_transform(df)

In [6]:
pd.concat([ages_extracted, heights_weights], axis=1).head(10)

   age    height  weight
0   70  1.711377    44.0
1   37  2.041322   143.0
2   35  1.711564    51.0
3   83  1.630396    90.0
4   50  1.682836   115.0
5   13  1.788937    52.0
6   41  1.832310   119.0
7   55  1.788870    92.0
8   10  1.552848    51.0
9   25  1.767191   116.0

In [7]:
def generate_transp_mode():
    categories = ['Automobile', 'Public_Transportation', 'Motorbike', 'Walking', 'Bike']
    category = random.choice(categories)
    return category

data = {'transportation': [generate_transp_mode() for _ in range(100)]}
df['transportation'] = pd.DataFrame(data)
df.head(5)

,age,height_weight,transportation
0,seventy,"1.7113774807242084,forty-four",Bike
1,37,2.0413220086751016_one hundred and forty-three,Motorbike
2,thirty-five,1.7115635001684846-51,Public_Transportation
3,83,1.6303960896024217;90,Walking
4,fifty,1.6828359774992987;one hundred and fifteen,Motorbike

In [8]:
categories = ['Automobile', 'Public_Transportation', 'Motorbike', 'Walking', 'Bike']

In [12]:
t = pd.get_dummies(df['transportation'])

In [13]:
df.drop(['transportation'], axis=1, inplace=True)

In [15]:
df = pd.concat([df, t], axis=1)

In [16]:
df

,age,height_weight,Automobile,Bike,Motorbike,Public_Transportation,Walking
0,seventy,"1.7113774807242084,forty-four",False,True,False,False,False
1,37,2.0413220086751016_one hundred and forty-three,False,False,True,False,False
2,thirty-five,1.7115635001684846-51,False,False,False,True,False
3,83,1.6303960896024217;90,False,False,False,False,True
4,fifty,1.6828359774992987;one hundred and fifteen,False,False,True,False,False
5,13,1.7889365772941719;52,True,False,False,False,False
6,forty-one,1.8323095413930819_119,False,False,True,False,False
7,55,1.7888698372126295_ninety-two,False,False,True,False,False
8,10,1.5528475431277362_51,False,False,True,False,False
9,twenty-five,1.7671906461054805;116,False,False,False,True,False
10,82,1.7503762742369642_one hundred and forty-nine,True,False,False,False,False
11,ninety-two,"1.9567548640925414,134",True,False,False,False,False
12,seventy-seven,1.5599688452259601-47,False,False,False,True,False
13,72,1.6107688446844008;145,False,False,True,False,False
14,42,"1.9447819606950156,135",False,True,False,False,False
15,11,1.621961171972324_one hundred and twenty-eight,False,False,False,False,True
16,two,"1.8765018839565546,73",False,False,False,True,False
17,sixty-one,1.8078003738064123-121,False,False,False,True,False
18,84,"1.6479158510785383,sixty-eight",False,False,True,False,False
19,eighty-one,"1.6322381265733352,135",False,True,False,False,False
20,thirty-nine,"1.686802942590257,eighty-eight",True,False,False,False,False
21,25,1.5594966362969904-77,False,False,False,True,False
22,ninety-five,1.945658168393456-73,False,False,False,False,True
23,29,"1.7885479329949148,47",True,False,False,False,False
24,twenty,"1.9744149399793611,65",False,False,True,False,False
25,fourteen,"1.6423869661334582,one hundred and thirty-eight",False,False,False,True,False
26,eleven,1.5631660635861508_one hundred and seventeen,True,False,False,False,False
27,nine,"1.501390418823479,126",False,True,False,False,False
28,6,1.5317760747249114;137,False,True,False,False,False
29,94,"1.3895397703174512,seventy-five",True,False,False,False,False
30,37,1.7302767397258758_86,True,False,False,False,False
31,11,"1.5788740914726447,112",False,False,True,False,False
32,76,"1.424003738885826,seventy-four",False,False,False,False,True
33,forty-six,1.4667741649422286;67,True,False,False,False,False
34,seventy-six,1.3869717824462136-one hundred and seven,False,False,False,False,True
35,seventy-six,1.5952036197008401;one hundred and two,False,False,False,False,True
36,thirty-seven,1.6438981613905745-fifty-two,False,False,False,False,True
37,46,1.7382331687247048-106,False,False,True,False,False
38,ninety-three,1.5224393123466784;one hundred and twenty-seven,False,False,False,False,True
39,thirty-four,"1.793528574631591,70",False,False,True,False,False
40,64,1.7239334858137492-fifty-one,False,True,False,False,False
41,two,1.5795918620950402-135,False,True,False,False,False
42,forty-nine,"1.561020762279113,one hundred and twenty-seven",False,True,False,False,False
43,seventeen,1.8011070128387128;one hundred and three,True,False,False,False,False
44,6,1.8031576049607894-119,True,False,False,False,False
45,twenty-seven,"1.7129717241614664,148",False,False,False,True,False
46,25,1.5854316732133213_one hundred and forty-eight,True,False,False,False,False
47,eighty,1.7720154521472715-one hundred and forty-seven,False,False,False,False,True
48,seventy-four,1.838263592380514;seventy-eight,False,False,False,True,False
49,97,1.580282132709203;116,False,False,True,False,False
50,ninety-five,1.4847703914668844-144,False,True,False,False,False
51,68,1.4578846104978076_one hundred and twenty-four,False,False,False,False,True
52,forty-four,"1.780877720724838,57",False,False,False,True,False
53,60,1.6722622452951874-119,False,False,False,False,True
54,28,1.603430136153678-121,False,True,False,False,False
55,66,1.590273745145827_forty,False,False,False,True,False
56,73,1.4685361764991818;89,False,False,True,False,False
57,ninety-four,"1.4635254237974977,46",False,False,False,True,False
58,seventy-three,"1.5864465185320338,57",False,False,False,True,False
59,twenty-two,1.788393965741708-57,False,False,True,False,False
60,49,1.4819019101983275;forty-five,False,False,False,False,True
61,one hundred,1.3208879776668514;126,True,False,False,False,False
62,eleven,"1.9874768127931728,fifty-five",True,False,False,False,False
63,52,"1.7304438183240922,one hundred and thirty-three",False,False,False,True,False
64,24,"1.8863355905730432,62",False,False,False,False,True
65,eighty-five,1.7890250710602231_96,True,False,False,False,False
66,67,"2.234861020936328,one hundred and forty-one",False,True,False,False,False
67,forty-six,1.4919811547816078_one hundred and thirty-four,False,False,False,True,False
68,seventy-eight,"1.5846467608259145,98",False,False,False,True,False
69,eighty-three,1.5554977749201457_118,False,False,True,False,False
70,eleven,1.8794639342807475;eighty-four,False,False,True,False,False
71,thirty-two,1.8980311407965755-86,False,False,False,False,True
72,seventy,1.4252265220715963_45,True,False,False,False,False
73,4,1.6212674170515764_one hundred and twenty-three,True,False,False,False,False
74,57,1.6367855066371342;one hundred and sixteen,False,False,False,True,False
75,ninety-seven,1.4073323462290273;91,True,False,False,False,False
76,sixty-three,"1.8478426229144158,125",True,False,False,False,False
77,twelve,"1.4964211100956244,99",True,False,False,False,False
78,ninety,1.8524268361249892_98,False,False,False,False,True
79,94,"1.592953950604918,149",False,False,True,False,False
80,seventy-eight,1.617498196034363_61,False,True,False,False,False
81,55,"1.8575849780828593,one hundred and thirty-five",False,False,True,False,False
82,seventy-six,1.5415140483368333;one hundred and forty-seven,False,False,False,True,False
83,32,1.8807894601208286;one hundred and forty,False,False,False,False,True
84,82,1.7946175710075818_forty-seven,False,True,False,False,False
85,14,1.7530510486633721_80,False,True,False,False,False
86,9,1.6041283099894028_56,True,False,False,False,False
87,twenty-eight,1.898925902317414;one hundred and twenty-eight,True,False,False,False,False
88,84,1.8911618623806872;124,False,False,True,False,False
89,87,"1.4603579577118189,42",False,False,False,False,True
90,eighty-eight,1.7634826462239375;one hundred and twenty-five,False,True,False,False,False
91,54,1.832960330323827_sixty-four,False,False,False,True,False
92,ninety-eight,"1.645324796247004,79",False,False,False,False,True
93,thirty-four,"1.3989127864847246,133",False,False,True,False,False
94,eighty-five,1.7265093239041824_one hundred and thirty,False,False,True,False,False
95,sixty-nine,"1.9803817929629854,forty-seven",False,False,True,False,False
96,13,1.6353302039185622-146,False,True,False,False,False
97,fifty-four,1.7269784136320858;sixty-six,False,False,True,False,False
98,fifty-eight,1.7997135382896838_sixty-three,False,False,True,False,False
99,eighty-six,1.6929324213956345_one hundred and forty-seven,True,False,False,False,False